body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.background {
    position: fixed;
    z-index: -1;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
}
img {
    width: 100%;
}

header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    margin-left: 25%;
    font-size: 1.5vw;
}
a {
    text-decoration: none;
    color: black;
}
button {
    border: 2px #fff386 solid;
    background-color: #fff7b0;
    border-radius: 2%;
    font-size: 1.5vw;
    margin: 4%;
    height: 40%;
}
button a {
    color: rgba(0, 0, 0, 0.645);
}
header h2 {
    font-size: 2.2vw;
}
header h4 {
    color: grey;
    font-size: 1.1vw;
    width: 40%;
}
header div {
    width: 33.33%;
    /* border: 2px black solid; */
    display: flex;
    justify-content: space-evenly;
}

.navContainer {
    align-content: center;
}
.button {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* all for 'main' part of blog page */
main {
    display: grid;
    margin: 0 auto;
    width: 90%;
    grid-template-columns: 30% 3% 67%;
    margin-bottom: 100px;
}
main div {
    /* border: 2px black solid; */
}
main h1 {
    font-size: 3vw;
}
main h2 {
    font-size: 1.75vw;
}
main h4 {
    font-size: 1.25vw;
}
main h5 {
    font-size: 1vw
}
p {
    font-size: 1vw;
}
hr {
    margin-bottom: 8%;
    margin-top: 0%;
    border: 0.25px solid rgba(0, 0, 0, 0.303);
}
.card {

}
.post {
    margin: 0 0 10% 5%;
}

/* for > 1080p screens */
@media only screen and (max-width: 1300px) {
    main h2 {
        font-size: 2.25vw;
    }
    p {
        font-size: 1.5vw;
    }
}